@font-face {
    font-family: MightySoul;
    src: url('fonts/MightySouly-lxggD.ttf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: Monaco;
    src: url('fonts/Monaco.ttf');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: Mshtakan;
    src: url('fonts/Mshtakan.ttc');
    font-weight: 400;
    font-weight: normal;
}
